.container img {
  width: 200px;
  height: 200px;
  margin-top: 2px;
  margin-bottom: 5px; }

.header {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); }

.header nav {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); }

.header a:hover {
  color: #16ecb7c7; }

.active {
  font-weight: bold; }

.footer {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); }

.footer ul li {
  list-style: none; }

.footer a {
  text-decoration: none;
  color: black; }

.footer a:hover {
  color: #16ecb7c7; }

.footer img {
  width: 25px;
  height: 25px; }

.principal {
  animation-duration: 2s;
  animation-name: slidein; }

.container img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 1s;
  border: #ee5c74 solid 2px;
  border-radius: 5px; }

.texto {
  color: #d63384; }

.fotoNov:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition-duration: 2s; }

.table {
  border: solid #16ecb7c7 5px;
  color: #ee5c74;
  margin-top: 5px;
  margin-bottom: 5px; }

.color {
  color: #ee5c74;
  background-color: #fdcbf1; }

.color a {
  text-decoration: none;
  color: #16ecb7c7;
  font-weight: bold; }

.color:hover {
  color: black;
  background-color: white; }

.form-label {
  color: #ee5c74; }

.h2:hover {
  transform: rotate(360deg);
  transition-duration: 1s; }

.h1:hover {
  animation-name: girar;
  animation-duration: 3s;
  animation-delay: 0s; }

.imgCar {
  width: 250px;
  height: 250px;
  margin: 3px; }

/* keyframe */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes girar {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transfom: rotateX(360deg); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #8080803f; }
