// Import variables
@import './variables/colors.scss';
@import './variables/extend.scss';
@import './variables/variables.scss';
// Import section
@import './section/_header.scss';
@import './section/_footer.scss';
@import './section/_main.scss';
//Reseteo global
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #8080803f;
}


