*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import './section/header.scss';
@import './section/footer.scss';


/* MAIN */
.principal {
    animation-duration: 3s;
    animation-name: slidein;
}
body{
    background-color: #8080803f;
}
/* productos */
.tortas img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.container img:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition-duration: 1s;
    border: #ee5c74 solid 2px;
    border-radius: 5px;
}
.mini img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.otros img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 5px;
}
/* Novedades */
.texto{
    color: #d63384;
}
.fotoNov:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition-duration: 2s;    
}
/*Contacto */
.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parrafo table{
    border: solid #16ecb7c7 5px;
    color: #ee5c74;
    margin-top: 5px;
    margin-bottom: 5px;
}
.color{
    background-color: #fdcbf1 ;
    color: #ee5c74;
}
.color:hover{
    background-color: black;
    color: white;
}
.form-label{
    color:#ee5c74;
}
/* nosotros */
.h2:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
h1:hover{
    animation-name: girar;
    animation-duration: 3s;
    animation-delay: 0s;
}
.imgCar{
        width: 250px;
        height: 250px;
        margin: 3px;
    }
/* keyframe */
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes girar{
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100% {
        transfom:rotateX(360deg);
    }
}