.footer{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.footer ul li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: #16ecb7c7;
    box-shadow: #00241b;
}
.footer img{
    width: 25px;
    height: 25px;
}